.limitedConteiner{
    padding-left: 150px;
    padding-right: 150px;
}

.wrapper{
    background-color: #fffaf0;
    box-shadow: 0 0 16px rgb(0 0 0 / 25%);
    padding-bottom: 50px;
}

.foodConteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 170px);
    grid-row-gap: 25px;
    grid-column-gap: 20px;
    padding-bottom: 20px;
}

.headerNavBar{
    position: sticky;
    background-color: #fffaf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 0 16px rgb(0 0 0 / 25%);
    left: 0;
    top: 0;
}

.food{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 800;
    letter-spacing: 0.001em;
}
a{
    text-decoration: none; 
}
a:hover{
    color: #002420;
    border-bottom: 3px solid #2b4fb9;

}

.foodLink{
    border-bottom: 3px solid #fffaf0;
    color: #002420;
    text-decoration: none;
    margin: 0px;
    cursor: pointer;
    transition: 0.5s;
  ;
}

.foodLink:hover{
    color: #002420;
    // border-bottom: 1px solid #2b4fb9;
    margin: 0px;
    cursor: pointer;
}

.bar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    letter-spacing: 0.001em;
}

.active{
    cursor: pointer;
    border: 2px solid #002420;
    background-color: #002420 ;
    color: white;
    border: none;
    border-radius: 32px;
    box-shadow: 0 0 0 1px silver inset;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
}

.barLink{
    cursor: pointer;
    border: 2px solid #002420;
    color: #002420;
    border: none;
    border-radius: 32px;
    box-shadow: 0 0 0 1px silver inset;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1280px){
    .limitedConteiner{
        padding-left: 30px;
        padding-right: 18px;
    }
}


@media (max-width: 1152px){
    .foodConteiner{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 170px);
        grid-row-gap: 20px;
        grid-column-gap: 15px;
        padding-bottom: 15px;
    }
  }




