.limitedConteiner{
    padding-left: 150px;
    padding-right: 150px;
}

.wrapper{
    background-color: #fffaf0;
    box-shadow: 0 0 16px rgb(0 0 0 / 25%);
   
}

.foodConteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 170px);
    grid-row-gap: 25px;
    grid-column-gap: 20px;
    padding-bottom: 20px;
    
}




