.limitedConteiner{
    padding-left: 150px;
    padding-right: 150px;
}
.wrapper{
    // margin-top: 2px;
    background-color: #fffaf0;
    box-shadow: 0 0 16px rgb(0 0 0 / 25%);
}
.img{
    width: 300px;
    height: 150px;
}

.foodConteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-row-gap: 25px;
    grid-column-gap: 20px;
    padding-bottom: 20px;
    
}
.foodItem{
    display: flex;
    width: 600px;
    background-color: #fffaf0;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    cursor: pointer;
}
.foodItem:hover{
    box-shadow: 0 0 45px rgb(0 0 0 / 15%);
}

.foodTitle{
    padding-top: 30px;
    padding-bottom: 20px;
}

.description{
    padding-left: 15px;
    padding-top: 15px;
}

.foodName{
    font-weight: 900;
}

.price{
    font-style: italic;
    padding-bottom: 10px;
}

.compound, .weight{
    font-size: 14px;
    color: #668;
    line-height: 16px;
    padding-bottom: 10px;
}
