.footerWrapper{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002420;
    color: #fffaf0;
    margin: -1rem;
    padding-bottom: 10rem;
    
    
      
}

.contactsItem{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fffaf0;
 
}
.title{
    font-size: 3rem;
    margin: 0;
}

.secondTitle{
    font-size: 2rem;
    padding-bottom: 5rem;
}

.contactItem{
    font-size: 2rem;
    // display: flex;
    flex-direction: column;
    display: block;
    margin-left: auto;
    margin-right: auto;


    // justify-content: center;
    
}

.contact{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding-left: 1rem;
    // padding-right: 2rem;
    margin-bottom: 3rem;
    font-size: 0.7em;



}

.socialtem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    height: 5rem;
    width: 5rem;

}

.lineLeft{
    border-left: 0.15rem solid #fffaf0;
    height: 290px;
    position: absolute;
    left: 50%;
    margin-left: -389px;
    top: 0;
}

.lineRight{
    border-right: 0.15rem solid #fffaf0;
    height: 290px;
    position: absolute;
    left: 50%;
    margin-left: 300px;
    top: 0;
}

.logo{
    width: 400px;
}