.footerWrapper{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002420;
    color: #fffaf0;
    margin: -1rem;
    padding-bottom: 2rem;
}

.contactsItem{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fffaf0;
}

.title{
    font-size: 3rem;
    margin: 0;
}

.secondTitle{
    font-size: 2rem;
    padding-bottom: 2rem;
}

.contactItem{
    font-size: 2rem;
    flex-direction: column;
    display: block;
    border-right: 2px solid #fffaf0;
}

.contact{
    margin-bottom: 3rem;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adress,.phone{
    padding-bottom: 30px;
}

.socialtem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    color: #fffaf0;
}

.socialtem:hover{
opacity: 0.5;
}

.logo{
    width: 400px;
}

.contactsItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow:hidden;

}

