.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 242, 239);
    min-width: 400px;
    min-height: 630px;
    border: 2px solid #002420;
    box-shadow: 24;
    display: flex;
    gap: 30px;
    flex-direction:column;
    text-align: center;
    z-index: 3;
}

.info{
    color: #002420;
    padding: 5px ;
    text-align: center;
    font-family: initial;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    opacity: 0.1;
}

.field{
    width:90%;
}

.check{
    margin-left:20px ;
}

.closeIcon{
    position: absolute;
    right: 0.5%;
    font-size: 24px;
    cursor: pointer;
}