*,*::before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.menu a{
    text-decoration: none;
}

.menu li{
    list-style: none;
    position: relative;
    font-size: 4rem;
    color: #fffaf0;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.5em;
    cursor: pointer;
    font-weight: 700;
}

.menuLink{
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: .2s;
    letter-spacing: .01em;
    color: #fffaf0;
    margin-bottom: 60px;
}  

.menuLink:hover{
    border-bottom: 1px solid #fffaf0;
    
}
   
.menuList{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #002420;
    opacity: .9;
    padding: 5%;
    min-width: 1024px;
    max-height: au;
    z-index: 20;
}

.logo{
    position: relative;
    width: 700px;
    margin-bottom: 220px;

}

.closeIcon{
    position: absolute;
    right: 3.5%;
    top: 1%;
    font-size: 80px;
    cursor: pointer;
    color:#fffaf0;
    gap: 40px;
}

.menuList>li:hover .subMenuList{
display: block;
}


.menuLink:hover{
    color: #fffaf0;
}

.subMenuList{
position: absolute;
left: 0;
top: 20px;
padding: 20px  0px 0px 0px;
display: none;
min-width: 150px;
}

.subMenuLink{
    color: #fffaf0;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.subMenuLink:hover{
    color: #fffaf0;
    border-bottom: 1px solid #fffaf0;
}

.subMenuList>li{
    background-color: #002420;
    min-width: 150px;
    padding: 5px 5px;
}

.subMenuList>li:hover .subSubMenuList{
display: block;
min-width: 200px;
}


.subSubMenuList{
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0px 0px 0px 3px;
    display: none;
}

.subSubMenuList>li{
    background-color: #002420;
    min-width: 150px;
    padding: 5px 5px;

    
}

.subSubMenuLink{
    color: #fffaf0;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.subSubMenuLink:hover{
    color: #fffaf0;
    border-bottom: 1px solid #fffaf0;
}

