.limitedConteiner{
    padding-left: 150px;
    padding-right: 150px;
}


.img{
    width: 300px;
    height: 170px;
}


.foodItem{
    display: flex;
    width: 600px;
    background-color: #fffaf0;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    cursor: pointer;
}

.foodItem:hover{
    -webkit-box-shadow: 0px 0px 33px 8px rgba(9, 9, 9, 0.3);
-moz-box-shadow: 0px 0px 33px 8px rgba(9, 9, 9, 0.3);
box-shadow: 0px 0px 33px 8px rgba(9, 9, 9, 0.3);
}

.foodTitle{
    padding-top: 20px;
    padding-bottom: 20px;
}

.description{
    padding-left: 15px;
    // padding-top: 15px;
}

.foodName{
    font-weight: 900;
}

.price{
    font-style: italic;
    padding-bottom: 10px;
}

.compound, .weight{
    font-size: 14px;
    color: #668;
    line-height: 16px;
    // padding-bottom: 10px;
    margin-bottom: 0;
    
}

.weight{
    margin-bottom: 0;
}

.foodItemFooter{
    display: flex;
    justify-content: space-between;
    
}

.btn{
    margin-right: 10px;
    border: none;
    background-color: #668;
    border-radius: 5px;
    padding: 0 5px;
    color: #111312;
    transition: 0.3s;

}

.btn:hover{
    // opacity: .9;
    background-color: coral
}

@media (max-width: 1152px){
    .foodItem{
        width: 530px;
  }
  .img{
    width: 260px;
    height: 170px;
}

.foodName{
    font-size: 24px;
    padding: 0px;
}
.price{
    padding-bottom: 5px;
}
.btn{
    margin-right: 10px;
   
  
    padding: 0 3px;
  

}
}
