
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: black; 
    
}

.fullScreen{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 15px; 
    
}
.fullScreenFoto {
     
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.fullScreenBody{
    // background-color: black;
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2.4vw;
    padding-bottom: 18.4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    pointer-events: auto;

   
    display: flex;
  
  
    justify-content: space-between;
    align-items: center;
 }

.centralFieldItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 400px;
    margin-bottom: 20px;
}

.fullScreenLinks{
    font-size: 1rem;
    color: #fffaf0;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.5em;
    cursor: pointer;
}

.navLinks{
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
}

.linkItem {
margin-left: 2rem;
list-style-type: none;
font-weight: 700;
letter-spacing: .01em;
color: #fffaf0;
text-decoration: none;
font-size: 1rem;

}

.fullScreenTitle{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 900;
    color: rgb(14, 112, 42);
    border-radius: 10px;
}

.registrationField{
    color: #fffaf0;
    display: flex;
    justify-content: space-between;
    gap:5rem;
}

.socialField{
    color: #fffaf0;
      
}
.socialtem{
    margin-right: 3rem;
    cursor: pointer;
    height: 1rem;
    width: 1rem;

}

.title{
    
    color: #fffaf0;
    z-index: 1;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.btn{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    /* min-width: 15rem; */
}

.advertisingField{
    position: absolute;
    top:89%;
    width: 100vw;
    background-color: #00000063;
    color: #fffaf0;
    z-index: 2;  
    display: flex;
    justify-content: space-around;
  
    padding: 1rem 0;
 
   

}

.advertisingIcon{
    display: flex;
   align-items: center;
   /* justify-content: center; */
  
    /* overflow: hidden; */
}

.icon{

 width: 4em;
 height: 4em;
 border: 2px solid #002420;
 border-radius: 50%;
 /* shape-inside: circle(50% at center center); */
 margin-left: auto;
 margin-right: auto;
 background-color: #002420;
 margin-right: 1rem;
}

.describe{
    color: #fffaf0; 
    font-size: 1.3rem;
}

.textBtn{
    font-size: 1rem;
}