
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullScreen{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 15px; 
}

.fullScreenFoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fullScreenBody{
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 14.4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    pointer-events: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.centralFieldItems{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centralField{
    margin-left: 16%;
}

.logo{
    width: 400px;
    margin-bottom: 20px;
}



.linkItemDelivery{
    position: relative;
    margin-left: 2rem;
    list-style-type: none;
    font-weight: 700;
    letter-spacing: .01em;
    color: #fffaf0;
    text-decoration: none;
    font-size: 1rem;
    border-bottom: 0px solid #fffaf0;
    transition: .2s;
}

.linkItem:hover{
    color: #fffaf0;
    border-bottom: 1px solid #fffaf0;
}


.fullScreenTitle{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 900;
    color: rgb(14, 112, 42);
    border-radius: 10px;
}

.registrationField{
    color: #fffaf0;
    display: flex;
    justify-content: space-between;
    gap:5rem;
}

.socialField{
    color: #fffaf0;
      
}
.socialtem{
    margin-right: 3rem;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}

.title{
    color: #fffaf0;
    z-index: 1;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.btn{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.advertisingField{
    position: absolute;
    top: 92%;
    width: 100vw;
    background-color: #00000063;
    color: #fffaf0;
    z-index: 2;  
    display: flex;
    justify-content: space-around;
    padding: 1.3rem 0;
}

.advertisingIcon{
    display: flex;
   align-items: center;
}

.icon{
 width: 4em;
 height: 4em;
 border: 2px solid #002420;
 border-radius: 50%;
 margin-left: auto;
 margin-right: auto;
 background-color: #002420;
 margin-right: 1rem;
}

.describe{
    color: #fffaf0; 
    font-size: 1.3rem;
}

.textBtn{
    font-size: 1rem;
}


// Burger

.navBarIcon{
    display: none;
    position: relative;
    color: #fffaf0;
    font-size: 40px;
    bottom: 13px;
    cursor: pointer;
}

//Адаптация

@media (max-width: 1440px){
    .advertisingField{
        top: 90%;
        padding-right: 50px;
    }

}


@media (max-width: 1280px){
    .registrationField{
        gap: 2rem;
    }
}
@media (max-width: 1152px){
    .registrationField{
        gap: 0.5rem;
    }
    .fullScreenBody{
        padding-left: 0vw;
        padding-right: 0vw;
        padding-bottom: 25.4vw;
     }


}

@media (max-width: 1024px){
    .navBarIcon{
    display: block;
    }
    .fullScreenLinks{
        display: none;
    }
    .centralField{
        margin-top: 20%;
    }
    
.registrationField{
    margin-top: 20%;
    gap:2rem;
}
.fullScreenBody{
    padding-left: 6vw;
    padding-right: 0vw;
    padding-bottom: 65.4vw;
 }
 .advertisingField{
    top: 95%;
    padding-right: 50px;
}
}
