.stocksWrapper{
    background-color: #002420;
    margin: 0;
    padding-bottom: 8rem;
}

.title{
    color: #fffaf0;
    font-size: 5rem;
    text-align: center;
    padding-top: 5rem;
    margin-top: 0;
    padding-bottom: 5rem;
}

.stocks{
    display: flex;
    justify-content: space-around;
}

.stockItem{
    max-width: 200px;
    max-height: 320px;
}

.stockItem:hover{
    transform: translate(0,-10px);
    transition: all 0.2s ease 0s;
}

@media (max-width: 1280px){
    .stockItem{
        max-width: 150px;
        max-height: 320px;
    }
}

@media (max-width: 1152px){
    .stockItem{
        max-width: 130px;
        max-height: 280px;
    }
}

@media (max-width: 1024px){
    .stockItem{
        max-width: 120px;
        max-height: 280px;
    }
}