.wrapper{
    background-color: #fffaf0;
}

.img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.logo{
    width: 200px;
}

.headerImg{
    position: relative;
    z-index: 1;
}

.headerInfo{
    position: absolute;
    top: 22%;
    left: 0%;
    object-fit: cover;
    z-index: 2;
}

.headerInfoContent{
    display: flex;
    justify-content:space-between;
}

.title{
    color: white;
    font-size: 45px;
    font-weight: 900;
}

.textBtn{
    font-size: 0.6rem;
}

.limitedConteiner{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
}

.headerSection{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between; 
    padding-right: 150px;
}

.cardIcon{
    position: relative;
    border: 1px solid #002420;
    border-radius: 50%;
    padding: 10px 10px;
    background-color: #002420;
    cursor: pointer;
    transition: 0.3s;
}

.cardIcon:hover{
    background-color:coral;
}

.active{
    background-color:coral; 
}

//Адаптация

@media (max-width: 1440px){
    .headerInfo{
        top: 19%;
    }
  }

  @media (max-width: 1280px){
    .limitedConteiner{
        padding-left: 30px;
    }
    .headerSection{
        padding-right: 30px;
    } 
  }  