.wrapper{
    background-color: #fffaf0;
}

.logo{
    width: 200px;
}
.headerImg{
    position: relative;
    z-index: 1;
}

.headerInfo{
    position: absolute;
    top: 30%;
    left: 0%;
    object-fit: cover;
    z-index: 2;

}
.headerInfoContent{
    display: flex;
    justify-content:space-between;
}

.title{
    color: white;
    font-size: 45px;
    font-weight: 900;
}

// .btn{
//     position: absolute;
//     top: 16%;
//     left: 0%;
//     object-fit: cover;
//     z-index: 2;
//     margin-left: 250%;
// }

.textBtn{
    font-size: 0.6rem;
}
.img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.limitedConteiner{
    padding-left: 150px;
    padding-right: 150px;
}

.headerSection{
    display: flex;
    height: 80px;
    align-items: center;
}

.headerNavBar{
    position: sticky;
    // position: fixed;
    background-color: #fffaf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 0 16px rgb(0 0 0 / 25%);
}

.food{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 800;
    letter-spacing: 0.001em;
}
.foodLink:hover{
    border-bottom: 5px solid #2b4fb9;
    margin: 0px;
    
    cursor: pointer;
}

.bar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    letter-spacing: 0.001em;
}

.barLinkBeer{
    cursor: pointer;
    border: 2px solid #002420;
    background-color: #002420 ;
    color: white;
    border: none;
    border-radius: 32px;
    box-shadow: 0 0 0 1px silver inset;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
}
.barLink{
    cursor: pointer;
    border: 2px solid #002420;
    // background-color: #002420 ;
    color: #002420;
    border: none;
    border-radius: 32px;
    box-shadow: 0 0 0 1px silver inset;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
}