.menuWrapper{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin-bottom: 3rem;
    background-color: #fffaf0;
    // justify-content: space-between;
    
}

.menuBtnRight{
    background-image: url('../../../../assets/backgraund/drinks.jpg');
    background-size: 100%; /* Современные браузеры */
    background-repeat: no-repeat;
    width: 75rem;
    height: 75rem;
    color: #fffaf0;
    font-size: 4rem;
    font-weight: 700;
}

.menuBtnLeft{
    background-image: url('../../../../assets/backgraund/food.jpg');
    background-size: 150%; /* Современные браузеры */
    background-repeat: no-repeat;
    width: 75rem;
    height: 75rem;
    color: #fffaf0;
    font-size: 4rem;
    font-weight: 700;
}

