.menuWrapper{
    display: flex;
    justify-content:center;
    gap: 2rem;
    padding-bottom: 5rem;
    background-color: #fffaf0;
}

.menuBtnRight{
    background-image: url('../../../../assets/backgraund/drinks.jpg');
    background-size: 100%; /* Современные браузеры */
    background-repeat: no-repeat;
    width: 45rem;
    height: 45rem;
    color: #fffaf0;
    font-size: 4rem;
    font-weight: 700;
}

.menuBtnLeft{
    background-image: url('../../../../assets/backgraund/food.jpg');
    background-size: 150%; /* Современные браузеры */
    background-repeat: no-repeat;
    width: 45rem;
    height: 45rem;
    color: #fffaf0;
    font-size: 4rem;
    font-weight: 700;
}

//Адаптация

@media (max-width: 1440px){
    .menuBtnRight{
        width: 40rem; 
        height: 40rem;
    }
    .menuBtnLeft{
        width: 40rem; 
        height: 40rem;
    }
  }

  @media (max-width: 1280px){
    .menuBtnRight{
        width: 35rem; 
        height: 35rem;
    }
    .menuBtnLeft{
        width: 35rem; 
        height: 35rem;
    }
}

@media (max-width: 1152px){
    .menuBtnRight{
        width: 32rem; 
        height: 32rem;
    }
    .menuBtnLeft{
        width: 32rem; 
        height: 32rem;
    }
}

// 1024

@media (max-width: 1024px){
    .menuBtnRight{
        width: 56rem; 
        height: 56rem;
        margin-left: 2rem
    }
    .menuBtnLeft{
        width: 56rem; 
        height: 56rem;
        margin-left: 2rem
    }
    .menuWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// 800
@media (max-width: 800px){
    .menuBtnRight{
        width: 48rem; 
        height: 48rem;
        margin-left: 0rem
    }
    .menuBtnLeft{
        width: 48rem; 
        height: 48rem;
        margin-left: 0rem
    }
    .menuWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




