.menuWrapper{
    display: flex;
    justify-content:center;
    gap: 2rem;
    padding-bottom: 5rem;
    background-color: #fffaf0;
}

.menuBtnRight{
    background-image: url('../../../../assets/backgraund/drinks.jpg');
    background-size: 100%; /* Современные браузеры */
    background-repeat: no-repeat;
    width: 45rem;
    height: 45rem;
    color: #fffaf0;
    font-size: 4rem;
    font-weight: 700;
}

.menuBtnLeft{
    background-image: url('../../../../assets/backgraund/food.jpg');
    background-size: 150%; /* Современные браузеры */
    background-repeat: no-repeat;
    width: 45rem;
    height: 45rem;
    color: #fffaf0;
    font-size: 4rem;
    font-weight: 700;
}

