
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 242, 239);
    min-width: 800px;
    min-height: 300px;
    border: 2px solid #002420;
    box-shadow: 24;
    display: flex;
    gap: 30px;
    flex-direction:column;
    text-align: center;
    z-index: 5;
}

.info{
    color: #002420;
    padding: 5px ;
    text-align: center;
    font-family: initial;
}


.field{
    width:90%;
}

.check{
    margin-left:20px ;
    color:#002420
}

.closeIcon{
    position: absolute;
    // margin-bottom: 20px;
    right: 0.5%;
    font-size: 40px;
    cursor: pointer;
    color: #002420;
}

.btn{
    padding-bottom: 20px;
}