.infoWrapper{
   background-color: #fffaf0;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow:hidden;
   padding-bottom: 60px;
}

.descriptionField{
    padding-top: 5rem;
    color: #002420;
    width: 100rem;
    font-family: 'HW Atlantic Medium';
    margin-bottom: 3rem;
    box-sizing:border-box;
    width:auto;
    max-width:100%;
}

.titleInfo{
    font-size: 2rem;
    padding-bottom: 3rem;
}

.time, .titleInfo{
    font-family: italic;
    text-align: center;
}

.descrip{
    width: 800px;
    font-size: 1.5rem;
    line-height: 150%;
    padding-bottom: 40px;
}

.line{
    border-bottom: 1.5px solid #897e47;
    width: 90%;
    margin-bottom: 4rem;
}

.btnField{
    display: flex;
    gap: 18rem;
    margin-bottom: 4rem;
    box-sizing:border-box;
    width:auto;
    max-width:100%;
}

.restourantField{
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.right{
    width: 45rem;
    height: 35rem;
    cursor: pointer;
}

.left{
    width: 45rem;
    height: 35rem;
    cursor: pointer;
}

.infoFoto{
    width: 45rem;
    height: 35rem;
    cursor: pointer;
}

.infoRestLeft{
    font-size: 1.5rem;
    padding-top: 30px;
}

.infoRestRight{
    font-size: 1.5rem;
    padding-top: 30px;
    text-align: right;
}

//Адаптация

@media (max-width: 1440px){
    .left {
     width: 40rem;
    }
  
    .right {
      width: 40rem;
    }
    .btnField{
        gap: 15rem;
    }
  }

  @media (max-width: 1280px){
    .btnField{
        gap: 10rem;
    }
    .left {
        width: 35rem;
       }
     .right {
      width: 35rem;
       }
       .infoWrapper{
        padding-bottom: 0px;
     }   
}

@media (max-width: 1152px){
    .btnField{
        gap: 7rem;
    }
    .left {
        width: 32rem;
       }
     .right {
      width: 32rem;
       }
       .infoWrapper{
        padding-bottom: 0px;
     }
}

@media (max-width: 1024px){
    .btnField{
        gap: 4rem;
    }
    .left {
        width: 30rem;
       }
     .right {
      width: 30rem;
       }
       .infoWrapper{
        padding-bottom: 0px;
     }
     
.btnField{
    display: flex;
    flex-direction: column;
}
.restourantField{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.left {
    width: 56rem;
    margin-bottom: 14rem;
    margin-left: 2rem
   }
 .right {
  width: 56rem;
  margin-bottom: 14rem;
  margin-left: 2rem;
   }
   .infoWrapper{
    padding-bottom: 0px;
 }
}



