.header{
    background: #fffaf0; 
    text-align: center;
   
}

.headerImg{
    // position: relative;
    z-index: 1;
}

.img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.title{
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    color: #fffaf0;
    top: 20%;
    left: 35%;
}

//Адаптация

@media (max-width: 1440px){
    .title{
        top: 12%;
    }
  }

  @media (max-width: 1024px){
    .title{
       top: 6%;
       left: 28%;
    }
  }  