
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 242, 239);
    max-width: 800px;
    min-height: 200px;
    border: 2px solid #002420;
    box-shadow: 24;
    display: flex;
    gap: 30px;
    flex-direction:column;
    text-align: center;
    z-index: 5;
}

.info{
    font-size: 30px;
    color: #002420;
    padding: 10px ;
    text-align: center;
    font-family: initial;
}

.closeIcon{
    position: absolute;
    right: 0.5%;
    font-size: 40px;
    cursor: pointer;
    color: #002420;
}

.btnWrapper{
    display: flex;
    justify-content: space-between;
}

//800
@media (max-width: 800px){
 .wrapper{
    max-width: 775px;//Не работает
 }
   }
