.wrapper{
  z-index: 5;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  min-width: 800px;
  height: 400px;
  border-radius: 10px;
  background-color: antiquewhite;
  -webkit-box-shadow: 0px 0px 33px 8px rgba(9, 9, 9, 0.3);
  -moz-box-shadow: 0px 0px 33px 8px rgba(9, 9, 9, 0.3);
  box-shadow: 0px 0px 33px 8px rgba(9, 9, 9, 0.3);
}

.title{
  text-align: center
}

.itemConteiner{
  grid-template-columns: repeat(3, 1fr);
  // grid-auto-flow: column;
  margin: 30px auto;
  grid-gap: 30px;
  display: grid;
}

.itemName{
  margin-left: 10px;
  font-size: 1rem;
}

.itemBtns{
  text-align:center ;
}
.add{
  padding: 4px 6px;
  border: none;
  background-color: rgb(155, 211, 95);
  border-radius: 4px;
  margin-right: 10px;
}

.remove{
  padding: 4px 9px;
  border: none;
  background-color: crimson;
  border-radius: 4px;
  margin-right: 10px;
}

.summ{
  text-align: right;
  font-size: 1rem;
  margin-right: 10px;
}

.resultConteiner{
  text-align:center ;
}

.line{
 margin: 0 10px;
  // width: 90%;
  text-align:center 
}

.resultTitle{
  font-size: 1.5rem;
  font-weight: 700;
}

.resultValue{
  font-size: 1.5rem;
  font-weight: 700;
  color: crimson;
}

.resultConteinerOptions{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.textArea{
  width: 400px;
  font-family: initial;
}